.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.restaurant
{
  width: 30%;
}

.restaurant h1
{
  font-size: 22px;
}

.restaurant p
{
  font-size: 16px;
  padding: 2vw;
}

.restaurantGrid
{
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  color: black;
  justify-content: space-around;
}
